.record-container {
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

@keyframes playRecord {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
}

.record-container img {
    position: relative;
    right: -90px;
    width: 600px;
    animation: playRecord 10s linear 0s infinite;
}

