.record-container {
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
}

.bgm-info {
  position: relative;
  padding-top: 15px;
  z-index: 1;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin-left: 50px;
}

.bgm-info .title {
  font-size: larger;
  font-weight: bolder;
}

@keyframes playRecord {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
}

.record-container img {
    position: fixed;
    right: -18vw;
    width: 500px;
    animation: playRecord 25s linear 0s infinite;
}

.record-container.paused img {
  animation-play-state: paused; /* 애니메이션 멈춤 */
}

.record-container audio {
  position: fixed;
  right: -20vw;
}
