.record-container {
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
}

@keyframes playRecord {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
}

.record-container img {
    position: fixed;
    right: -19vw;
    width: 500px;
    animation: playRecord 25s linear 0s infinite;
    z-index: 1;
}

.record-container audio {
  position: fixed;
  right: -20vw;
}
