.weather-btn-container {
    display: flex;
    flex-direction: column;
  }
  
  .country-button-container {
    position: relative;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;  /* 바로 아래에 나타나도록 설정 */
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 10px;
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-item:hover {
    background-color: #ddd;
  }