.weather-btn-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.weather-btn-container::-webkit-scrollbar {
  display: none;
}

.weather-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: auto;
  will-change: transform;
  margin-top: 45vh;
  padding-bottom: 50vh;
}

.current-btn {
  position: absolute;
}
  
.country-button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: auto;
    transition: transform 0.1s ease-out;
    margin-top: 70px;
}

.country-btn {
  position: relative;
  width: 120px;
  display: flex !important;
  align-items: center !important;
}
  
.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.active .dropdown {
  display: flex; /* 활성화 상태에서만 드롭다운 표시 */
}
  
.dropdown-item {
  padding: 10px;
  border: none;
  cursor: pointer;
 text-align: left;
 /* box-shadow: 40px 0px 16px 0px rgba(0,0,0,0.2) !important; */
}
  
.dropdown-item:hover {
  background: linear-gradient(45deg, #04f1dd, #057cfb);
  color: transparent !important;
    -webkit-background-clip: text; 
}

.btn {
  font-size: larger !important;
  font-weight: bolder !important;
  color: white !important;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}