.weather-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.weather-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 300px;
}
  
.country-button-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    width: 300px;
    height: 30px;
   }
  
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}
  
.dropdown-item {
  padding: 10px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
 text-align: left;
}
  
.dropdown-item:hover {
  background-color: #1848e8 !important;
}

.country-btn {
  width: 120px;
  display: flex !important;
  align-items: center !important;
}

.btn {
  font-size: larger !important;
  font-weight: bolder !important;
  background: linear-gradient(45deg, #04f1dd, #057cfb);
  color: transparent !important;
    -webkit-background-clip: text;
}