.background {
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.component-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}