.background {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.component-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 768px) {
  .component-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .component-area > :not(.weather-box) {
    display: none;
  }
}